src/main/resources/META-INF/schema/ccTx.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:e="http://apvma.gov.au/event"
        elementFormDefault="qualified"
        targetNamespace="http://apvma.gov.au/event">
    <xs:element name="ccTxRequest">
        <xs:complexType>
	        <xs:sequence>
	        	<xs:element name="id" type="xs:long"/>
	            <xs:element name="txnId" type="xs:long"/>
	            <xs:element name="createdAt" type="xs:date"/>
	            <xs:element name="fromUser" type="xs:string"/>
	        </xs:sequence>                                                                   
        </xs:complexType>
    </xs:element>
</xs:schema>